<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.baojims.mapper.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wit.baojims.entity.Activity">
        <id column="act_id" property="actId" />
        <result column="name" property="name" />
        <result column="date" property="date" />
        <result column="description" property="description" />
        <result column="com_id" property="comId" />
    </resultMap>

</mapper>
