<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.baojims.mapper.CommunityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wit.baojims.entity.Community">
        <id column="com_id" property="comId" />
        <result column="name" property="name" />
        <result column="vis_count" property="visCount" />
        <result column="count_id" property="countyId"/>
    </resultMap>

    <select id="selectAll" resultType="com.wit.baojims.entity.Community">
        select name from baoji_ms.community
    </select>
</mapper>
