<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.baojims.mapper.ManageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wit.baojims.entity.Manage">
        <id column="admin_id" property="adminId" />
        <result column="com_id" property="comId" />
        <result column="county_id" property="countyId"/>
    </resultMap>

</mapper>
