<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.baojims.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wit.baojims.entity.Member">
        <id column="peo_id" property="peoId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="birth" property="birth" />
        <result column="is_death" property="isDeath" />
        <result column="in_address" property="inAddress" />
        <result column="out_address" property="outAddress" />
        <result column="in_date" property="inDate" />
        <result column="out_date" property="outDate" />
        <result column="com_id" property="comId" />
        <result column="inst_id" property="instId" />
        <result column="fee" property="fee" />
    </resultMap>

</mapper>
