<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.baojims.mapper.TransMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wit.baojims.entity.Trans">
        <id column="trans_id" property="transId" />
        <result column="peo_id" property="peoId" />
        <result column="in_com_id" property="inComId" />
        <result column="out_com_id" property="outComId" />
        <result column="status" property="status" />
        <result column="in_date" property="inDate" />
        <result column="out_date" property="outDate" />
    </resultMap>

    <resultMap id="TransGroupVo" type="com.wit.baojims.vo.TransGroupVo">
        <result column="month_time" property="month" />
        <result column="total" property="total" />
    </resultMap>

    <select id="groupByInMonth" resultMap="TransGroupVo" parameterType="java.lang.Integer">
        SELECT DATE_FORMAT(in_date,'%m') month_time,COUNT(*) total
        FROM baoji_ms.trans
        where baoji_ms.trans.in_com_id=#{value}
        GROUP BY month_time;
    </select>

    <select id="groupByOutMonth" resultMap="TransGroupVo">
        SELECT DATE_FORMAT(out_date,'%m') month_time,COUNT(*) total
        FROM baoji_ms.trans
        where baoji_ms.trans.out_com_id=#{value}
        GROUP BY month_time;
    </select>

</mapper>
