<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.baojims.mapper.VisitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wit.baojims.entity.Visit">
        <id column="vis_id" property="visId" />
        <result column="vis_date" property="visDate" />
        <result column="vis_desc" property="visDesc" />
        <result column="com_id" property="comId" />
    </resultMap>

<!--    <resultMap id="VisitGroupVo" type="com.wit.baojims.vo.VisitGroupVo">-->
<!--        <result column="year_time" property="year" />-->
<!--        <result column="total" property="total" />-->
<!--    </resultMap>-->

<!--    <select id="groupByYear" resultMap="VisitGroupVo" parameterType="java.lang.Integer">-->
<!--        SELECT DATE_FORMAT(vis_date,'%Y') year_time,COUNT(*) total-->
<!--        FROM baoji_ms.visit-->
<!--        where baoji_ms.visit.com_id=#{value}-->
<!--        GROUP BY year_time;-->
<!--    </select>-->
</mapper>
